.cyn-header{
    background-color: #663399;
    display: flex;
    width:100%;
    padding-top:5px;
    padding-bottom: 5px;
}
.cyn-header .cyn-header-action{
    background-color: transparent;
    margin-left: 5px;
    color:#eee;
    border-color:#eee;
}
.cyn-header .cyn-header-back{
    width:50px;
    color: #eee;
}
.cyn-header .cyn-header-title{
    font-weight: bold;
    font-size: 16pt;
    color: #eee;
}