<div class="form-group" [formGroup]="form">
	<label for="exampleInputEmail1" [innerHTML]="config.label"></label>
	<div *ngIf="type=='number'" class="input-group">
  		<button class="input-group-addon btn-primary">-</button>
	    <input #control [type]="type" class="form-control" [placeholder]="config.placeholder" [formControlName]="config.name" [(ngModel)]="data[config.value]">
		<button class="input-group-addon btn-primary">+</button>
	</div>

	<!-- Date -->
	<input *ngIf="type=='date'" type="text" readonly class="form-control cyndatepicker" [placeholder]="config.placeholder">
	<input *ngIf="type=='date'" #control type="hidden" class="form-control" [formControlName]="config.name" [ngModel]="data[config.value] | date : 'mediumDate'">
		
	<!-- Enof Date-->

	<input #control *ngIf="type=='text'" type="text" class="form-control" [placeholder]="config.placeholder" [formControlName]="config.name" [(ngModel)]="data[config.value]">
	
	<ng-container  *ngFor="let validator of config.validators">
		<div  *ngIf="(!form.controls[config.name].pristine) && form.controls[config.name].hasError(validator.key.toLowerCase())" class="alert alert-danger">
		{{validator.message}}
		</div>
	</ng-container>
	
</div>